@{
    ViewData["Title"] = "Aubout Us";
}
<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-3">
        <a href="/ProductDisplay">
            <button style="background-color: #f0f0f0; color: #000; font-size: 16px; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px; font-weight: bold; font-family: Arial, sans-serif;">
                &lt; Products
            </button>
        </a>
    </div>
    <div class="col-7">
    </div>
    <div class="col-2"></div>
</div>
<br />

<div style="background-color: #f0f0f0; color: #000; padding: 20px; border-radius: 5px;">
    <!-- Products -->
    <div class="row">
        <div class="col-md-12">
            <div style="background-color: #f0f0f0; color: #000; padding: 20px; border-radius: 5px;">

                <div class="col-md-12">
                    <p>Welcome to Aurora's Brick Store, where our passion for Lego bricks goes back to our childhood. Founded in 2008 by Aurora, a lifelong Lego enthusiast, our journey began with the rediscovery of our beloved Lego sets from years gone by. What started as a personal hobby soon evolved into something greater.</p>
                    <p>In 2010, we took our love for Lego to the next level by launching our own website. Initially offering minifigures and sets, we quickly recognized the growing demand for individual parts. Determined to meet this need, we expanded our inventory to include a wide range of Lego components.</p>
                    <p>As our business flourished, we realized that there was an opportunity to connect Lego enthusiasts from around the world. In response, we created a marketplace where fellow brick aficionados could showcase their collections and creations. By providing a platform for other sellers to establish their storefronts, we've fostered a vibrant community of Lego enthusiasts.</p>
                    <p>At Aurora's Brick Store, we're more than just a retailer – we're a hub for all things Lego. Whether you're searching for rare pieces to complete your collection or looking to share your own creations with the world, you'll find a welcoming home here. Join us on our journey as we continue to inspire creativity, one brick at a time.</p>
                </div>

                
            </div>

        </div>
    </div>
</div>
