@{
    ViewData["Title"] = "Home Page";
}

@model Intex.Models.ViewModels.ProductListViewModel

<div class="text-center">
    <h1 class="display-4">Aurora Bricks</h1>
    <p>Reignite your creativity with unique, one of a kind lego <br> pieces. Let your inner child finnaly come out.</p>
</div>


<div  style="display: flex; justify-content: center; align-items: center; ">
    <button type="button" class="col-3 btn btn-info">Shop Now</button>
</div>


<div class="container mt-3">
    <div class="row">
        @foreach (CleanProductViewModel p in Model.CleanProducts.Take(4))
        {
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <partial name="ProductSummary" model="p" />
            </div>
        }
    </div>
</div>


