@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Intex.Models.ViewModels.ProductListViewModel

<div class="row">
    <div class="col-3">
        <button style="background-color: #f0f0f0; color: #000; font-size: 16px; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px; font-weight: bold; font-family: Arial, sans-serif;">
            &lt; Products
        </button>
    </div>
    <div class="col-7">
        
    </div>
    <div class="col-2"></div>
</div>
<br/>

<div >
    <div class="col-12" style="background-color: #f0f0f0; color: #000; padding: 20px; border-radius: 5px;">
        @* Products *@
        <div class="row">
            @foreach (CleanProductViewModel p in Model.CleanProducts)
            {
                <div class="col-6 mb-4">
                    <partial name="ProductSummary" model="p" />
                </div>
            }
        </div>
        
    </div>
</div>
<br/>
<br/>
<div class="col">
    <div class="col-4" >
        <h6>Recommended Products</h6>
    </div>
    <br/>
    <div class="col-12" style="background-color: #f0f0f0; color: #000; padding: 20px; border-radius: 5px;">
        <!-- Temporary placeholder text -->
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
        @* <div class="row m-1 p-1">
        <div class="col-2 ">
        <vc:product-types />
        </div>
        <div class="container col-10">
        @foreach (Product p in Model.Products)
        {
        <partial name="ProductSummary" model="p" />
        }

        <div page-model="@Model.PaginationInfo" page-action="ProductDisplay" page-classes-enabled="true" page-class="btn"
        page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-productType="@Model.CurrentProductType" class="btn-group pull-right m-1"></div>
        </div>
        </div> *@
    </div>
    <br/>
    <div class="col-3">
        <button style="background-color: #f0f0f0; color: #000; font-size: 16px; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px; font-weight: bold; font-family: Arial, sans-serif;">
            &lt; Products
        </button>
    </div>
</div>
<br />




