@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Intex.Models.ViewModels.ProductListViewModel

<h1>Lego Products</h1>


<div class="row m-1 p-1">
        <div class="col-2 ">
            <vc:product-types />
        </div>
        <div class="container col-10">
            @foreach (Product p in Model.Products)
            {
                <partial name="ProductSummary" model="p"/>
            }

            <div page-model="@Model.PaginationInfo" page-action="ProductDisplay" page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-productType="@Model.CurrentProductType" class="btn-group pull-right m-1"></div>
        </div>
    </div>

  